*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}



/* -----------------Header and Nav bar features------------------- */
.header{
    padding: 4% 5%;
    margin: 0% 1%;
    flex-grow: 0;
    min-height: 15vh;
    width: 100%;
}

.bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 20%;
    height: 20%
}

nav button{
    background-color: hsl(193, 100%, 96%);
    border: none;
    border-radius: 30px;
    box-shadow: 10px 10px 75px -27px rgba(219,34,17,0.58);
    padding: 1% 2%;
    cursor: pointer;
    font-size: 80%;
    color: rgb(0, 0, 0);
}

nav button:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(235, 241, 240);
}

.header-content{
    display: flex;
    padding-top: 15%;
    gap: 5%;
}

.header-content-text{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex: 1;
    flex-shrink: 1;
    justify-content: center;
}
.header-content-text h2{
    font-family: poppins-thin;
    font-size: 30px;
    font-weight: 600;
    color: rgb(0, 0, 0);
}
.header-content-text p{
    padding: 7% 0%;
    font-size: 18px;
    font-weight: 400;
    color: rgb(0, 0, 0);
}
.header-content-text button{
    padding: 3% 2%;
    background-color: hsl(322, 100%, 66%);
    border: 1px slategrey;
    border-radius: 40px;
    cursor: pointer;
    font-size: 30%;
    color: hsl(193, 100%, 96%);
}

.header-content .img{
    flex: 1;
    flex-shrink: 1;
}
.img img{
    width: 100%;
    min-width: 120px;
}



/* -----------------------Body features--------------------- */
.growTogether{
    padding: 4% 10%;
    padding-right: 10%;
    margin: 0% 1%;
    flex-grow: 0;
    min-height: 15vh;
    width: 90%;
    border: 1px solid rgb(181, 170, 170);
    box-shadow: 10px -5px 87px -54px rgba(144,22,201,1);
    margin: 5%;
}
.growTogether-content{
    display: flex;
    padding-top: 2%;
    gap: 5%;
}
.growTogether-content-text{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex: 1;
    flex-shrink: 1;
    justify-content: center;
}
.growTogether-content-text h2{
    font-family: poppins-thin;
    font-size: 30px;
    font-weight: 600;
    color: rgb(0, 0, 0);
}
.growTogether-content-text p{
    padding: 7% 0%;
    font-size: 18px;
    font-weight: 400;
    color: rgb(0, 0, 0);
}
.growTogether-img{
    flex: 1;
    flex-shrink: 2;
}
.growTogether-img img{
    width: 100%;
    min-width: 120px;
}


.flowingConversation{
    padding: 4% 10%;
    /* margin: 0% 1%; */
    flex-grow: 0;
    min-height: 15vh;
    width: 90%;
    border: 1px solid rgb(181, 170, 170);
    box-shadow: 10px -5px 87px -54px rgba(19,214,214,1);
    margin: 5%;
}
.flowingConversation-content{
    display: flex;
    padding-top: 2%;
    gap: 5%;
}
.flowingConversation-content-text{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex: 1;
    flex-shrink: 1;
    justify-content: center;
}
.flowingConversation-content-text h2{
    font-family: poppins-thin;
    font-size: 30px;
    font-weight: 600;
    color: rgb(0, 0, 0);
}
.flowingConversation-content-text p{
    padding: 7% 0%;
    font-size: 18px;
    font-weight: 400;
    color: rgb(0, 0, 0);
}
.flowingConversation-img{
    flex: 1;
    flex-shrink: 1;
}
.flowingConversation-img img{
    width: 100%;
    min-width: 120px;
}


.yourUsers{
    padding: 4% 10%;
    /* margin: 0% 1%; */
    flex-grow: 0;
    min-height: 15vh;
    width: 90%;
    border: 1px solid rgb(181, 170, 170);
    box-shadow: 10px -5px 87px -54px rgba(230,230,12,1);
    margin: 5%;
}
.yourUsers-content{
    display: flex;
    padding-top: 2%;
    gap: 5%;
}
.yourUsers-content-text{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex: 1;
    flex-shrink: 1;
    justify-content: center;
}
.yourUsers-content-text h2{
    font-family: poppins-thin;
    font-size: 30px;
    font-weight: 600;
    color: rgb(0, 0, 0);
}
.yourUsers-content-text p{
    padding: 7% 0%;
    font-size: 18px;
    font-weight: 400;
    color: rgb(0, 0, 0);
}
.yourUsers-img{
    flex: 1;
    flex-shrink: 1;
}
.yourUsers-img img{
    width: 100%;
    min-width: 120px;
}


/* -------------------------Footer---------------------------- */
.readyToBuild{
    /* padding: 4% 5%;
    margin: 2% 1%; */
    /* min-height: 15vh; */
    margin-left: 25%;
    width: 50%;
    border: 1px solid rgb(181, 170, 170);
    background-color: hsl(193, 100%, 96%);
    display: flex;
    flex-grow: 0;
    justify-content: center;
}
.readyToBuild-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
    padding: 2%;
}
.footerText h2{
    font-family: poppins-thin;
    font-size: 19px;
    font-weight: 600;
    padding-bottom: 5%;
    display: flex;
    flex-direction: column;
    flex: 1;
    flex-shrink: 1;
    justify-self: center;
}
.footerButton button{
    padding: 1% 10%;
    background-color: hsl(322, 100%, 66%);
    border: none;
    border-radius: 30px;
    box-shadow: 10px 10px 75px -27px rgba(219,34,17,0.58);
    padding: 1% 2%;
    cursor: pointer;
    font-size: 60%;
    color: rgb(255, 255, 255);
}

.footer{
    background-color: hsl(192, 100%, 9%);
}
.footer-content{
    display: flex;
    justify-content: space-between;
    padding: 2% 5%;
}
.footer-content-links{
    padding: 1%;
    color: hsl(193, 100%, 96%);
}
.footer-content-socials{
    padding-top: 1%;
    color: hsl(193, 100%, 96%);
    display: flex;
    justify-self: center;
}


/* ----------------------Responsiveness---------------------- */
@media(max-width: 768px){

    .header-content{
        display: flex;
        padding-top: 15%;
        gap: 5%;
        flex-direction: column;
    }
    .header-content-text p{
        margin: 0% 25%;
    }
    .header-content-text h2{
        text-align: center;
        font-size: 17px;
    }
    .header-content-text p{
        width: 50%;
        text-align: center;
        font-size: 9px;
        font-weight: 900;
    }
    .header-content-text button{
        width: 100%;
        margin: 0% 0% 10% 0%;
    }


    .growTogether-content{
        display: flex;
        /* padding-top: 15%;
        gap: 5%; */
        flex-direction: column;
    }
    .growTogether-content-text p{
        margin: 0% 25%;
    }
    .growTogether-content-text h2{
        text-align: center;
        font-size: 17px;
    }
    .growTogether-content-text p{
        width: 50%;
        text-align: center;
        font-size: 9px;
        font-weight: 900;
    }

    .flowingConversation-content{
        display: flex;
        /* padding-top: 15%;
        gap: 5%; */
        flex-direction: column;
    }
    .flowingConversation-content-text p{
        margin: 0% 25%;
    }
    .flowingConversation-content-text h2{
        text-align: center;
        font-size: 17px;
    }
    .flowingConversation-content-text p{
        width: 50%;
        text-align: center;
        font-size: 9px;
        font-weight: 900;
    }

    .yourUsers-content{
        display: flex;
        /* padding-top: 15%;
        gap: 5%; */
        flex-direction: column;
    }
    .yourUsers-content-text p{
        margin: 0% 25%;
    }
    .yourUsers-content-text h2{
        text-align: center;
        font-size: 17px;
    }
    .yourUsers-content-text p{
        width: 50%;
        text-align: center;
        font-size: 9px;
        font-weight: 900;
    }

}



/* -------------Misc------------- */
.poppins-thin {
    font-family: "Poppins", serif;
    font-weight: 100;
    font-style: normal;
  }